﻿@model CodeFx.ViewModel.Author.AuthorItem

<section class="content-header">
    <h1>
        Yazar Güncelleme sayfası
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">Yazar Güncelleme Sayfası</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="UpdateCategory">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Surname" class="control-label"></label>
                    <input asp-for="Surname" class="form-control" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</section>
<div>
    <a asp-action="Index">Back to List</a>
</div>

