﻿

    @using (Html.BeginForm("Index", "Book", FormMethod.Get, new { @class = "form-inline" }))
    {
<ul class="navbar-right">
    <li class="nav navbar-nav navbar-right input-group">
        <input type="text" id="q" name="q" class="form-control navbar-btn" placeholder="Arama yap" />
        <span class="input-group-btn">
            <button class="btn navbar-btn" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </span>
    </li>
</ul>
    }

