﻿@model CodeFx.ViewModel.Book.BookItem

@{
    ViewData["Title"] = "Detail";
}

<div style="text-align:center">
    <h2>Özellikler</h2>
    </div>

<div class="row container-fluid col-md-12">
    <h4 style="margin-left:50px"><strong> @Html.DisplayFor(model => model.Name)</strong></h4>
    <hr />
    <div class="thumbnail col-md-5" style="margin-right:5px">
        <img src="~/images/img12.jpg" />
    </div>
    <div class="thumbnail col-md-5" style="margin-right:5px">
        <dl class="dl-horizontal">

            <dt>
                Adı:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                ISBN:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Isbn)
            </dd>
            <dt>
                Yazar :
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Author)
            </dd>
            <dt>
                Yayınevi:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PublishingHouse)
            </dd>
            <dt>
                Dil :
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Language)
            </dd>
            <dt>
                Sayfa sayısı:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PageCount)
            </dd>
            <dt>
                Baskı:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Edition)
            </dd>
            <dt>
                Cilt sayısı:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Volume)
            </dd>
            <dt>
                Tanıtım:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ShortDescription)
            </dd>
            <dt>
                Fiyat :
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
        </dl>
    </div>
    <a class="btn btn-round btn-success" data-toggle="modal" data-target="#myModal">Sepete ekle</a>
</div>
<div>
    <a asp-action="Index">Anasayfa</a>
</div>
