﻿@model IEnumerable<CodeFx.ViewModel.Book.BookItem>

<div class="row">
    <div class="navbar-right">
        <partial name="_Booksearch"/>
        <br/>
        
    </div>
</div>
<section class="module-small">
    <div class="container">
        @*<div class="row">
            <div class="col-sm-4 col-sm-offset-3">
                <h2 class="tab-content">Son eklenen kitaplar</h2>
            </div>

        </div>*@
        <br />
        <hr />
        <div class="row multi-columns-row">
            @foreach (var item in Model)
            {
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <div class="thumbnail">
                            <a href="/Book/detail/@item.Id">
                                <img src="~/images/img12.jpg" alt="Lights" style="width:100%">
                                <div class="caption">
                                    <table>
                                        <tr>
                                            <td> Adı:</td>
                                            <td> @Html.DisplayFor(model => item.Name)</td>
                                        </tr>
                                        <tr>
                                            <td>Yazar :  </td>
                                            <td> @Html.DisplayFor(model => item.Author)</td>
                                        </tr>
                                        <tr>
                                            <td> Dil : </td>
                                            <td> @Html.DisplayFor(model => item.Language)</td>
                                        </tr>
                                        <tr>
                                            <td> Kategori :  </td>
                                            <td>   @Html.DisplayFor(model => item.Category.Name)</td>
                                        </tr>
                                        <tr>
                                            <td> Fiyat :  </td>
                                            <td>  @Html.DisplayFor(model => item.Price)</td>
                                        </tr>
                                    </table>
                                </div>
                            </a>
                        </div>
                        <a href="/Book/detail/@item.Id" class="btn btn-round btn-warning"><span class="icon-next">Detay</span></a>
                        <a class="btn btn-round btn-success" data-toggle="modal" data-target="#myModal"><span class="icon-basket">Add To Cart</span></a>

                    </div>
                </div>
            }
        </div>

        @*<div class="row mt-30">
            <div class="col-sm-12 align-center"><a class="btn btn-b btn-round" href="#">See all products</a></div>
        </div>*@
    </div>
</section>


<hr class="divider-w">