﻿@using CodeFx.ViewModel.Book
@model IEnumerable<CodeFx.ViewModel.Category.CategoriesWithBooks>


<h2>Bu kategorideki kitaplar</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                Kategori nosu
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @foreach (BookforCtgItem book in item.Books)
            {
            <td>
                <div class="owl-item">
                    <div class="col-sm-4">
                        <div class="ex-product">
                            <a href="#"><img src="~/images/ggw.jpg" alt="category picture" /></a>
                            <h4 class="shop-item-title font-alt"><a asp-controller="Book" asp-action="Detail/@book.Id">@book.Name</a></h4>
                        </div>
                    </div>
                </div>
            </td>
            }
            
        </tr>
}
    </tbody>
</table>
<h4><a asp-controller="Category" asp-action="Index">Kategori anasayfası</a></h4>
