﻿@model IEnumerable<CodeFx.ViewModel.Category.CategoryItem>



<section class="module">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h3 class="module-title font-alt">Kategoriler</h3>
                    
                </div>
            </div>
            <div class="row">
                <div class="owl-carousel text-center" data-items="5" data-pagination="true" data-navigation="false">
                    @foreach (var item in Model)
                    {
                    <div class="owl-item">
                        <div class="col-sm-4">
                            <div class="ex-product">
                                <a href="#"><img src="~/images/ggw.jpg" alt="category picture" /></a>
                                <h4 class="shop-item-title font-alt"><a href="/Category/Details/@item.Id"> @Html.DisplayFor(modelItem => item.Name)</a></h4>
                            </div>
                        </div>
                    </div>
                    }                  
                    
                </div>
            </div>
        </div>
    </section>