﻿@using CodeFx.ViewModel.Book
@model IEnumerable<CodeFx.ViewModel.PublishingHouse.PublishingHouseWithBooks>

<h2>bu  Yayınevine ait kitaplar</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                Yayınevi Adı 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @foreach (BookForPHItem book in item.Books)
                {
                    <td>
                        <div class="owl-item">
                            <div class="col-sm-3">
                                <div class="ex-product">
                                    <a href="#"><img src="~/images/house2.jpg" alt="category picture" width="240" /></a>
                                    <h4 class="shop-item-title font-alt"><a asp-controller="Book" asp-action="Detail/@book.Id">@book.Name</a></h4>
                                </div>
                            </div>
                        </div>
                    </td>
                }

            </tr>
        }
    </tbody>
</table>
<h4><a asp-controller="PublishingHouse" asp-action="Index">Yayınevleri anasayfası</a></h4>

