﻿@inject CodeFx.UI.Core.Account.CurrentAccount CurrentAccount

@if (CurrentAccount.IsAccountLogin)
{
    <form asp-controller="Account" asp-action="LogOut" asp-route-returnUrl="@Url.Action("Index", "Home")" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-page="/Account/My" title="Manage">Merhaba @CurrentAccount.Account.FullName !</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Çıkış</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Register">Üye Ol</a></li>
        <li><a asp-controller="Account" asp-action="Login">Giriş Yap</a></li>
    </ul>
}