﻿@using CodeFx.Infrastructure.Enums
@model CodeFx.ViewModel.Book.BookEdit
<section class="content-header">
    <h1>
        Kitap Güncelleme sayfası
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">Kitap güncelleme Sayfası</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @*<div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Isbn" class="control-label"></label>
                    <input asp-for="Isbn" class="form-control" />
                    <span asp-validation-for="Isbn" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AuthorId" class="control-label">Author</label>
                    <select asp-items="@Model.AuthorList" asp-for="AuthorId" class="form-control">
                        <option>Please select one</option>
                    </select>
                    <span asp-validation-for="AuthorId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PublishingHouseId" class="control-label"> Publishing House</label>
                    <select asp-items="@Model.PublishingHouseList" asp-for="PublishingHouseId" class="form-control">
                        <option>Please select one</option>
                    </select>
                    <span asp-validation-for="PublishingHouseId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Language" class="control-label"></label>
                    <select asp-for="@Model.Language" asp-items="Html.GetEnumSelectList<Language>()" class="form-control">
                        <option selected="selected" value="">Please select</option>
                    </select>
                    <span asp-validation-for="Language" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PageCount" class="control-label"></label>
                    <input asp-for="PageCount" class="form-control" />
                    <span asp-validation-for="PageCount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Edition" class="control-label"></label>
                    <input asp-for="Edition" class="form-control" />
                    <span asp-validation-for="Edition" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Volume" class="control-label"></label>
                    <input asp-for="Volume" class="form-control" />
                    <span asp-validation-for="Volume" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageUrl" class="control-label"></label>
                    <input asp-for="ImageUrl" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageThumbnailUrl" class="control-label"></label>
                    <input asp-for="ImageThumbnailUrl" class="form-control" />
                    <span asp-validation-for="ImageThumbnailUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ShortDescription" class="control-label"></label>
                    <input asp-for="ShortDescription" class="form-control" />
                    <span asp-validation-for="ShortDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="InStock" /> @Html.DisplayNameFor(model => model.InStock)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label">Category</label>
                    <select asp-items="@Model.CategoryList" asp-for="CategoryId" class="form-control">
                        <option>Please select one</option>
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</section>
<div>
    <a asp-action="Index">Back to List</a>
</div>

