﻿@model IEnumerable<CodeFx.Data.Entities.Book>

<link href="~/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<script src="~/js/jquery.dataTables.min.js"></script>
<script src="~/js/dataTables.bootstrap.min.js"></script>
<script src="~/js/DeleteRecord.js"></script>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Kitaplar</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Kitap Adı</th>
                                <th>ISBN</th>
                                <th>Yazar</th>
                                <th>Yayınevi</th>
                                <th>Dil</th>
                                <th>Sayfa sayısı</th>
                                <th>Baskı</th>
                                <th>Cilt sayısı</th>
                                <th>Fiyat</th>
                                <th>Stokta var mı</th>
                                <th>Kategorisi</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Isbn)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Author.Name)  @Html.DisplayFor(modelItem => item.Author.Surname)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PublishingHouse.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Language)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PageCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Edition)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Volume)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Price)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.InStock)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Category.Name)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |                                       
                                        @Html.ActionLink("Delete", "Delete", new { /* id=item.Id */ })
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Kitap Adı</th>
                                <th>ISBN</th>
                                <th>Yazar</th>
                                <th>Yayınevi</th>
                                <th>Dil</th>
                                <th>Sayfa sayısı</th>
                                <th>Baskı</th>
                                <th>Cilt sayısı</th>
                                <th>Fiyat</th>
                                <th>Stokta var mı</th>
                                <th>Kategorisi</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<script>
    $(function () {
        $('#example1').DataTable()
        $('#example2').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': true,
            'info': true,
            'autoWidth': false
        })
    })
</script>