﻿@using CodeFx.ViewModel.Order
@using CodeFx.ViewModel.OrderDetail
@model CodeFx.ViewModel.Customer.CustomerItem



<div>
    <h4>Müşteri Sipariş detayı</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Müşteri adı: 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
    </dl>
    <div class="box-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Sipariş no</th>
                    <th>Sipariş Tarihi</th>
                    <th>
                    <th>Sıra no</th>
                    <th>Kitap No</th>
                    <th>Kitap Adı</th>
                    <th>Adet</th>
                    <th>Birim Fiyat</th>
                    <th>Tutar</th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (OrderItem item in Model.OrderItems)
                {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.OrderDate</td>
                    <td>
                        @foreach (OrderDetailItem od in item.OrderDetailItems)
                        {
                        <td>@od.Id</td>
                        <td>@od.BookId</td>
                        <td>@od.BookName</td>
                        <td>@od.Quantity</td>
                        <td>@od.UnitPrice</td>
                        <td>@od.Amount</td>
                    }
                        </td>
                    </tr>
                    }
                </tbody>
</table>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>

