﻿@using CodeFx.ViewModel.Order
@model IEnumerable<CodeFx.ViewModel.Customer.CustomerItem>


<link href="~/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<script src="~/js/jquery.dataTables.min.js"></script>
<script src="~/js/dataTables.bootstrap.min.js"></script>
<script src="~/js/DeleteRecord.js"></script>
<section class="content-header">
    <h1>
        Müşteri Listesi
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Data tables</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"></h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Müşteri Adı</th>
                                <th>Toplam Sipariş</th>
                                <th>işlem</th>
                                <th>işlem</th>
                                <th>işlem</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr id="hasan_@item.Id">
                                <td>@item.Id</td>
                                <td>@item.FullName</td>
                                <td>@item.OrderItems.Count()</td>
                                <td><a href="/Customer/Edit/@item.Id">Güncelle</a></td>
                                <td><a href="/Customer/Details/@item.Id">Sipariş Detayları</a></td>
                                <td><img src="~/images/Close_Box_Red.png" width="30" height="30" style="cursor:pointer" onclick="Delete('/Category/DeleteCategory/', @item.Id)" /></td>
                            </tr>
                            }

                        </tbody>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Kategori Adı</th>
                                <th>Açıklama</th>

                                <th>işlem</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>


<script>
    $(function () {
        $('#example1').DataTable()
        $('#example2').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': true,
            'info': true,
            'autoWidth': false
        })
    })
</script>
