﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner-1.jpg" alt="kitap" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Evrenin sırları kitaplarla çözülür...
                    <a class="btn btn-default" href="#">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner-2.jpg" alt="vs" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    İnsanlık kitaplarla gelişme ve ilerleme kaydetti...
                    <a class="btn btn-default" href="#">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner-3.jpg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   Yapay Zeka için de okumak, kodlamak, yani faklı şekilde de olsa Kitap gerek...
                    <a class="btn btn-default" href="#">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Oku &amp; İlerle</h2>
        <ul>
            <li><a href="#">Yapay Zeka</a></li>
            <li><a href="#">Python</a></li>
            <li><a href="#">Big Data</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Kurgusal</h2>
        <ul>
            <li><a href="#">Mars</a></li>
            <li><a href="#">Ay</a></li>
            <li><a href="#">Güneş</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Sanatsal</h2>
        <ul>
            <li><a href="#">Çizim Nasıl yapılır</a></li>
            <li><a href="#">Resim sanatı</a></li>
            <li><a href="#">Boyamak yada boyayamamak</a></li>
        </ul>
    </div>
</div>
