﻿@model IEnumerable<CodeFx.ViewModel.PublishingHouse.PublishingHouseItem>


<link href="~/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<script src="~/js/jquery.dataTables.min.js"></script>
<script src="~/js/dataTables.bootstrap.min.js"></script>
<script src="~/js/DeleteRecord.js"></script>

<section class="content-header">
    <h1>
        Yayınevi Listesi
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Data tables</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Data Table With Full Features</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                   Id
                                </th>
                                <th>
                                    Adı
                                </th>
                                <th>
                                    Adres
                                </th>
                                <th>
                                   Telefon
                                </th>
                                <th>işlem</th>
                                <th>işlem</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Address)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TelNumber)
                                    </td>                                    
                                    <td><a href="/PublishingHouse/Edit/@item.Id">Güncelle</a></td>
                                    <td><img src="~/images/Close_Box_Red.png" width="30" height="30" style="cursor:pointer" onclick="Delete('/PublishingHouse/Delete/', @item.Id)" /></td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    Id
                                </th>
                                <th>
                                    Adı
                                </th>
                                <th>
                                    Adres
                                </th>
                                <th>
                                    Telefon
                                </th>
                                <th>işlem</th>
                                <th>işlem</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<script>
    $(function () {
        $('#example1').DataTable()
        $('#example2').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': true,
            'info': true,
            'autoWidth': false
        })
    })
</script>